.card {
  position: fixed;
  top: 13%;
  left: 5%;
  width: 84%;
  height: 70%;
  border-radius: 10%;
  box-shadow: 1px 4px 10px black;
  padding: 3%;
  animation: pageAppear 0.5s ease-in-out;
}

@keyframes pageAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}