.activities {
    /* max-width: 1800px;
    max-height: 1000px;
    display: inline-block;
    justify-content: center;
    align-items: center; */
}
.section-top {
    width: 100%;
    height: 0%;
}
.title {
    text-align: center;
}

.section-bottom {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-bottom-card {
    max-width: 800px;
    max-height: 500px;
    width: 90%;
    height: 90%;
    background-color: rgb(186, 113, 3, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slideUp 1.5s ease-in-out;
    background-image: url('../../../Images/card_1.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5%;
}

.card-schedule {
    color: brown;
    width: 95%;
    height: 90%;
    background-color: rgba(255, 238, 218, 0.136);
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 4px 14px rgba(0, 0, 0, 0.75);
    animation: slideUp 2s ease-in-out;
    border-radius: 5%;

}

.schedule {
    width: 100%;
    height: 30%;
    padding-top: 3%;
    color: brown;
    font-size: 60px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    text-shadow: 2px 4px 4px black;
    font-weight: 1000;
}

.card-days{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 57%;
    height: 100%;
    color: brown;
    font-size: 20px;
}

@keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(10rem) translateX(-5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0rem) translateX(0rem);
    }
  }

  @keyframes darker {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media only screen and (max-width: 720px) {

    .activities {
      font-size: 12px;
    }
    .schedule {
      font-size: 42px;
    }
    .days {
      font-size: 16px;
    }
  
  }
  
  @media only screen and (max-width: 420px) {
    .activities {
      font-size: 10px;
    }
  }